*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


#head{
    background-color: aqua;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    display: block;
}
#head1{
    display: inline-block;
}
#logout{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(91, 255, 178);
    position: relative;
    display: inline-block;
    margin-left: 40px;

}

#navbar{
    background-color: black;
    
    text-align: center;
}
#navbar>ul{
   list-style: none;
}
#navbar>ul>li{
    list-style:none;
    display: inline-block;
    padding: 10px;
}
#navbar>ul>li>a{
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
}
#navbar>ul>li>a:hover{
    background-color: aquamarine;
}